:root {
  --1st: #212832;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi phục chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  /* vì mặc định font-weight là 400 nên chúng ta bỏ qua */
}

/* ============================Common======================== */
/* đây là điều chỉnh đặc tính chung của trang */
a {
  /* gạch bỏ các phần gạch dưới liên kết */
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 9px 21px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main-content {
  width: 1160px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* =================================header============================== */
.header .body {
  display: flex;
  /* 3 khối img, nav và btn xoay ngang */
  align-items: center;
  padding: 36px 0px 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
  margin-right: 52px;
}

.nav a {
  color: var(--1st, #212832);
  font-size: 1.7rem;
  font-weight: 600;
  padding: 8px 33px;
}

.nav a:hover {
  text-shadow: 0.5px 0 0 black;
}

.btn {
  color: var(--1st, #212832);
}

.btn-sign-up {
  border-radius: 5px;
  border: 1px solid var(--1st, #212832);
  margin-right: 42px;
}

.menu-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-text {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown-text span {
  width: 20px;
}

.dropdown-text img {
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
